.cardDesign {
  height: auto;
  width: 40em;
  color: black;

  border-radius: 10px;
  background-color: white;
  border: 0.1em solid black;

  display: flex;
  flex-direction: column;
  margin: 1em;

  padding: 1em;
}

.avatarDesign {
  width: 10em;
  height: 10em;
}

.cardTitle {
  height: 3em;
  width: 35em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: large;
  font-weight: bold;
}
.cardDescription {
  height: 10em;
  width: 36em;
  background-color: rgb(161, 217, 230);
  padding: 1em;
  border: 0.1em solid black;
  border-radius: 10px;
}
.likeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 7em;
  margin: 0.5em;
  background-color: beige;
}
.likeSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardLikes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 10px;
  height: 1em;
}
.likeButton:hover {
  cursor: pointer;
  font-weight: bold;
  color: black;
}
.detailPost {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  width: 4em;
  border: 0.1em solid black;
  border-radius: 10px;
}
.detailPost:hover {
  cursor: pointer;
  font-weight: bold;
}
