.cardDesign {
  height: auto;
  width: 25em;

  border-radius: 0.5em;
  background-color: cadetblue;

  transition: 0.5s;

  display: flex;
  flex-direction: column;
  margin: 1em;
}

.cardDesign:hover {
  transition: 0.5s;
  background-color: lightblue;
  transform: scale(1.15);
}

.avatarDesign {
  width: 10em;
  height: 10em;
}

.cardTitle {
  font-weight: bold;
  font-size: larger;
}

.likeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 3em;
  background-color: green;
}
.likeSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardLikes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  padding-left: 0.5em;
}
