.myPostsDesign {
  height: 88.3vh;
  width: 98vw;

  background-color: rgb(161, 217, 230);

  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
  align-items: center;
}
.cardsRoasterMyPosts {
  flex-wrap: wrap-reverse;
}

.createPostsDesign {
  height: 88.3vh;
  width: 100vw;

  background-color: rgb(161, 217, 230);

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  align-items: center;
}
